body{
	font-family: sans-serif;
}
#nav-bar{
	position: sticky;
}
.navbar{
	background-image: linear-gradient(to right, #800020, #800020);
}
.navbar-brand{
	height: 100%;
}
.navbar-nav li a{
	color: #fff;
	font-weight: 600;
	text-align: right;
}
.navbar-toggler-icon{
	color: #fff;
	font-size: 100%;
}
#nav-link{
	margin: right;
}